<div class="page-header-text">
  Todo List
</div>

<div class="card bg-light" style="padding: 20px;">
  <div class="card-block">
    <form name="form1" id="form1" #form1="ngForm">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">            
            <div class="input-group-text">
              <i class="fa fa-bookmark "></i>
            </div>
          </div>
          <input type="text" class="form-control" id="name" name="name"
                 [(ngModel)]="activeTodo.title" 
                 placeholder="Enter the title for this ToDo"
                 required />
        </div>
      </div>

      <div class="form-group">
        <!--<label class="control-label" for="form-group-input">Description:</label>-->
        <textarea class="form-control" id="description" name="description" 
        style="height: 100px" [(ngModel)]="activeTodo.description"
          minlength="10" placeholder="Enter the description for this placeholder" required></textarea>
      </div>

      <button class="btn btn-primary" type="button" (click)="addTodo(activeTodo,form1)" [disabled]="form1.invalid">
        <i class="fa fa-plus"></i> Add Todo
      </button>
      &nbsp;
      <button class="btn btn-primary" type="button" (click)="loadTodos()">
        <i class="fa fa-download"></i>
        Load ToDos</button>
    </form>
  </div>
</div>


<div *ngFor="let todo of todos" class="todo-item"
      [ngClass]="{'completed': todo.completed}">
    
    <i class="fa fa-fw float-left" 
        style="margin: 10px 25px 20px; font-size: 1.7em" 
        (click)="toggleCompleted(todo)"
        [ngClass]="{'fa-bookmark': !todo.completed,                      
                    'fa-check': todo.completed,
                    'text-success': todo.completed 
                   }"        
        ></i>

         <!-- <input type="checkbox"
            title="check to complete todo"
            [(ngModel)]="todo.completed" />&nbsp; -->
        
    <div class="float-right">
        <i class="fa fa-times-circle"
            (click)="removeTodo(todo)"
            style="color: darkred; cursor: pointer"></i>
    </div>

  <div class="todo-content">
      <div class=" todo-header">{{todo.title}}</div>
      <div>{{todo.description}}</div>
  </div>
</div>
