<div class="banner">
    <!-- Slideout Menu Toggle - Hamburger menu -->
    <a class="slide-menu-toggle-open no-slide-menu"
        title="More...">
        <i class="fa fa-bars"></i>
    </a>

    <!-- Icon and Company Logo -->
    <div class="title-bar no-slide-menu">
        <a href="./">
            <img class="title-bar-icon" src="./assets/icon.png" />
            <div style="float: left; margin: 4px 5px; line-height: 1.0">
                <i style="color: #0092d0; font-size: 0.9em; font-weight: 600;">Logo1</i><br />
                <i style="color: whitesmoke; font-size: 1.65em; font-weight: 600;">Logo2</i>
            </div>
        </a>
    </div>

    <!-- top right nav menu - .hidable for options that hide on small sizes -->
    <nav class="banner-menu-top float-right">
        <a href="#" class="hidable">
            <i class="fa fa-book"></i>
            Link
        </a>
        <a href="./">
            <i class="fas fa-home"></i>
            Home
        </a>            
    </nav>
</div>





<div id="MainView">
    <div class="container">
        <!--The content below is only a placeholder and can be replaced.-->

        <div class="page-header">
            <h3>Welcome to Southwest Fox {{ title }}!</h3>
        </div>

        <hr />

        <p>
            Hello {{name}} - the time is: {{ time }}
        </p>

        <router-outlet></router-outlet>


    </div> <!-- end .container -->
</div> <!-- end #MainView -->





<footer>
    <a href="http://www.west-wind.com/" class="pull-right">
        <img src="./assets/westwindtext.png" />
    </a>
</footer>


<!-- slide in menu - Remove if you don't use it --> 
<nav class="slide-menu">
    <div style="padding: 10px 10px 10px 3px;">

        <a class="disabled">
            <i class="fas fa-home"></i>
            Main Menu
        </a>

        <a href="~/">
            <i class="fas fa-home"></i>
            Home
        </a>

        <a href="#" class="indented">
            <i class="fas fa-newspaper"></i>
            Sub Link
        </a>
        <a href="#" class="indented">
            <i class="fas fa-newspaper"></i>
            Sub Link 2
        </a>

        <a href="#">
            <i class="fas fa-unlock-alt"></i>
            Login
        </a>
    </div>
</nav>
