
<div class="page-header-text">
    Welcome to {{ title }}
</div>

<p>
  Hello <b>{{name}}</b>.
  The time is: <b>{{time | date: "MMM dd, yyyy HH:mm:ss"}}</b>.
</p>

  <button class="btn btn-primary" (click)="updateTime()"> 
    <i class="fas fa-clock "></i>
    Update Time
  </button>


  <hr>

  

  <div class="input-group">
      <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          </div>
        </div>
        <input type="text" [(ngModel)]="name"  class="form-control" placeholder="Enter your name"/>  
  </div>

  <div class="alert alert-info margin-top-2x">
    <i class="fas fa-info-circle"></i>
    {{message()}}
  </div>